
.selectDrop {
    position: relative; /* Ensure the dropdown positioning is relative to this container */
}

.selectDrop .openDrop {
    display: flex;
    align-items: center; /* Vertically center the text and icons */
    justify-content: space-between; /* Space between the text and the icon */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px 5px; /* Adjust padding */
}

.selectDrop .openDrop svg {
    margin-left: auto; /* Push the icon to the right */
}

.selector {
    width: 230px;
    background: #fff;
    position: absolute;
    top: 100%; /* Directly below the text */
    left: 0; /* Align with the left edge of the container */
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 15px;
    max-height: 200px; /* Limit the height to avoid overflow */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.searchField input {
    width: 100%;
    height: 40px;
    border: 1px solid #4f9777;
    outline: none;
    padding: 0 15px;
    border-radius: 3px;
}

.selectcategory {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.selectcategory li {
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    cursor: pointer;
}

.selectcategory li:hover {
    background: #3bb77e;
    color: #fff;
}

.selectcategory li.active {
    background: #ccc; /* Background color for the active category */
    color: #000; /* Text color for the active category */
}
