@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

.homeSlider {
    padding: 25px 0px;
}

.slider-main {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.slick-arrow {
    position: absolute;
    top: 47%;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background-color: aquamarine !important;
}

.slick-arrow .slick-next {
    right: 5% !important;
}

.slick-arrow .slick-next {
    left: 5% !important;
}