.selector {
    width: 230px;
    height: auto;
    background: #fff;
    position: absolute;
    top: 150%;
    left: -20px;
    z-index: 100;
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
    border-radius: 3px;
    padding: 15px;
}

.selectDrop .openDrop {
    display: block;
    padding: 10px 0px;
}

.searchField input {
    width: 100%;
    height: 40px;
    border: 1px solid #4f9777;
    outline: none;
    padding:  0px 15px;
    border-radius: 3px;
}

.selector .selectcategory {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    padding: 10px 0px;
    max-height: 180px;
    overflow-y: auto;
}

.selector .selectcategory::-webkit-scrollbar {
    width: 7px !important;
}

.selector .selectcategory::-webkit-scrollbar-thumb {
    background: #ccc !important;
}

.selector .selectcategory li {
   list-style: none;
   width: 100%;
   font-size: 18px;
   font-weight: 400;
   padding: 5px;
}

.selector .selectcategory li:hover {
    background: #3bb77e;
    color: #fff;
}