.catSlider {
    width: 100%;
    height: auto;
    padding: 30px 0px !important;
}

.sliderCategory .slick-slide {
    padding-right: 27px !important;
}

.sliderCategory .item {
    height: auto;
    width: 150px;
    background: #F2FCE4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 25px;
    border-radius: 25px;
}

.sliderCategory .item .info {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sliderCategory .item .info h5 {
    font-weight: 600 !important;
}

.sliderCategory .item .info p {
    font-size: 12px;
    opacity: 0.8;
    color: #000;
    margin-bottom: 0px;
}

/* Fix arrow styling by directly targeting slick-prev and slick-next */
.sliderCategory .slick-prev, .slick-next {
    background-color: aquamarine;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 1;
}

/* Positioning for the next arrow */
.sliderCategory .slick-next {
    top: 50%;
    right: -25px; /* Adjust to your liking */
    transform: translateY(-50%);
}

/* Positioning for the previous arrow */
.sliderCategory .slick-prev {
    top: 50%;
    left: -25px; /* Adjust to your liking */
    transform: translateY(-50%);
}

/* Optional: Zoom effect for arrows */
.sliderCategory .slick-prev, .slick-next {
    zoom: 80%;
}

/* Optional: Hover effect */
.sliderCategory .slick-prev:hover, .slick-next:hover {
    background-color: #4f9777;
}
