.header-top {
    padding-top: 0px;
    padding-bottom: 10px;
}

.header-info ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-info ul li {
    margin-right: 20px; /* Space between list items */
    font-size: 13px;
}

.header-info ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
    padding-left: 20px; /* Adjust padding to make space for the icon */
}

.header-info ul li a:before {
    content: ''; /* You can replace this with any symbol or icon */
    width: 1px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -6px;
    bottom: 2px;
    right: 0px;
    left: 3px;
}

.header-info-right ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: flex-end;
}

.header-info-right ul li {
    margin-left: 20px; /* Space between list items */
    position: relative; /* Ensure dropdown positioning */
}

.header-info-right ul li a {
    text-decoration: none;
    color: #333;
}

.language-dropdown-active {
    position: relative;
    cursor: pointer;
}

li .language-dropdown {
    display: block; /* Hide by default */
    position: absolute;
    top: 25px; /* Adjust based on design */
    right: 0;
    width: 200px; /* Adjust width as needed */
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

.language-dropdown li {
    margin: 0;
    list-style: none; /* Ensure list items are not inline */
    display: block; /* Ensure items are block-level elements */
    cursor: pointer;
}

.language-dropdown li span {
    display: block; /* Ensure items are block-level elements */
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}

.language-dropdown li span:hover {
    background-color: #f0f0f0;
    display: block; /* Ensure items are block-level elements */
}

