.header-top {
    padding-top: 0px;
    padding-bottom: 10px;
}

.header-info ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-info ul li {
    margin-right: 20px; /* Space between list items */
}

.header-info ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
    padding-left: 20px; /* Adjust padding to make space for the icon */
}

.header-info ul li a:before {
    content: ''; /* You can replace this with any symbol or icon */
    width: 1px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -6px;
    bottom: 2px;
    right: 0px;
    left: 3px;
}

.header-info-right ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    justify-content: flex-end;
}

.header-info-right ul li {
    margin-left: 20px; /* Space between list items */
}

.header-info-right ul li a {
    text-decoration: none;
    color: #333;
}

.language-dropdown-active {
    position: relative;
}

.language-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    z-index: 1000;
}

.language-dropdown li {
    margin: 0;
}

.language-dropdown li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}

.language-dropdown-active:hover .language-dropdown {
    display: block;
}
